# Requirements.txt
# List of the nonstandard modules that are utilized by this
# tool suite 
# 
# Author: Elvis Payano

# Requirements without version specifiers
./modules/ticker
./modules/algo_trainer
numpy==1.18.5
tensorflow==2.5.2
tf_agents==0.6.0
matplotlib==3.3.2
coverage
pandas
pylint
xmlrunner
yfinance

