---
Language: Cpp
BreakInheritanceList: BeforeComma
IncludeBlocks: Regroup
IndentWidth: '2'
KeepEmptyLinesAtTheStartOfBlocks: 'true'
SortIncludes: true
PointerAlignment: Left
BinPackArguments: false
BinPackParameters: false
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AllowAllConstructorInitializersOnNextLine: false
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
BreakConstructorInitializers: BeforeComma
IncludeBlocks: Preserve
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true
SpacesBeforeTrailingComments: 2
SpacesInAngles: true
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: true
SpacesInParentheses: true
SpacesInSquareBrackets: false
...
